/*.header {
  background-color: #003366;
  padding: 10px;
  color: white;
}
.nivel_1 {
  list-style: none;
  padding: 0;
  margin: 0;
} 
.nivel_1>li {
  display: inline;
}
.nivel_1>li a {
  color: white;
  margin-right: 15px;
  text-decoration: none;
}
*/


/*.nivel_1 li ul {
  display: none;
}

.nivel_1 li ul :hover {
  display: block;
}*/

/*


.navbar a.active {
  font-weight: bold;
  border-bottom: 2px solid white;
}



.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar ul li {
  display: inline;
}

.navbar li {
  position: relative;
}

.navbar li ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #003366;
  min-width: 150px;
}

.navbar li:hover > ul {
  display: block;
}

.navbar a {
  display: block;
  padding: 8px 12px;
  text-decoration: none;
  background: #003366;
  color: #fff;
}

.navbar a:hover {
  background: #003366;
}

*/